<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpFunctionalExtensions" version="2.27.1" targetFramework="xamarinmac20" />
  <package id="Markdig" version="0.26.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Toolkit.Diagnostics" version="7.1.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Color" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Messenger" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Visibility" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.7.0" targetFramework="xamarinmac20" />
</packages>