<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpFunctionalExtensions" version="2.24.0" targetFramework="xamarinmac20" />
  <package id="Hashids.net" version="1.4.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.ObjectPool" version="5.0.11" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="xamarinmac20" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.4" targetFramework="xamarinmac20" />
  <package id="Microsoft.Toolkit.Diagnostics" version="7.1.1" targetFramework="xamarinmac20" />
  <package id="MvvmCross" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.Messenger" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Plugin.ResxLocalization" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="MvvmCross.Tests" version="8.0.2" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinmac20" />
  <package id="NUnit" version="3.13.2" targetFramework="xamarinmac20" />
  <package id="NUnitLite" version="3.13.2" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinmac20" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="xamarinmac20" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.7.0" targetFramework="xamarinmac20" />
</packages>